<?xml version="1.0"?>
<config>
    <modules>
        <MageAustralia_LoginAsCustomer>
            <version>1.0.0</version>
        </MageAustralia_LoginAsCustomer>
    </modules>

    <global>
        <models>
            <loginascustomer>
                <class>MageAustralia_LoginAsCustomer_Model</class>
                <resourceModel>loginascustomer_resource</resourceModel>
            </loginascustomer>
            <loginascustomer_resource>
                <class>MageAustralia_LoginAsCustomer_Model_Resource</class>
                <entities>
                    <log>
                        <table>mageaustralia_loginascustomer_log</table>
                    </log>
                </entities>
            </loginascustomer_resource>
        </models>
        <blocks>
            <loginascustomer>
                <class>MageAustralia_LoginAsCustomer_Block</class>
            </loginascustomer>
        </blocks>
        <helpers>
            <loginascustomer>
                <class>MageAustralia_LoginAsCustomer_Helper</class>
            </loginascustomer>
        </helpers>
        <resources>
            <loginascustomer_setup>
                <setup>
                    <module>MageAustralia_LoginAsCustomer</module>
                </setup>
            </loginascustomer_setup>
        </resources>
        <events>
            <!-- Inject the "Login as Customer" button on the admin customer edit page -->
            <adminhtml_widget_container_html_before>
                <observers>
                    <mageaustralia_loginascustomer_button>
                        <class>loginascustomer/observer</class>
                        <method>addLoginButton</method>
                    </mageaustralia_loginascustomer_button>
                </observers>
            </adminhtml_widget_container_html_before>
            <!-- On customer login, detect an admin-initiated impersonation and
                 flag the session for the banner + record success. -->
            <customer_login>
                <observers>
                    <mageaustralia_loginascustomer_flag>
                        <class>loginascustomer/observer</class>
                        <method>onCustomerLogin</method>
                    </mageaustralia_loginascustomer_flag>
                </observers>
            </customer_login>
            <!-- Clear the FPC no-cache cookie when the impersonated session ends. -->
            <customer_logout>
                <observers>
                    <mageaustralia_loginascustomer_logout>
                        <class>loginascustomer/observer</class>
                        <method>onCustomerLogout</method>
                    </mageaustralia_loginascustomer_logout>
                </observers>
            </customer_logout>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageaustralia_loginascustomer before="Mage_Adminhtml">MageAustralia_LoginAsCustomer_Adminhtml</mageaustralia_loginascustomer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <loginascustomer>
                    <file>mageaustralia_loginascustomer.xml</file>
                </loginascustomer>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <loginascustomer>
                    <file>mageaustralia_loginascustomer.xml</file>
                </loginascustomer>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageAustralia_LoginAsCustomer>
                    <files>
                        <default>MageAustralia_LoginAsCustomer.csv</default>
                    </files>
                </MageAustralia_LoginAsCustomer>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <loginascustomer>
            <general>
                <enabled>1</enabled>
                <show_banner>1</show_banner>
            </general>
        </loginascustomer>
    </default>
</config>
